<div class="employee-details-container">
  <div class="heading">
    <h1>Employees</h1>
    <p>Manage your team members, update details and view employment status.</p>
  </div>

  <div class="custom-toggle">
    <input type="checkbox" id="viewToggle" (change)="onToggle()" />
    <label for="viewToggle">
      <span class="icons">
        <mat-icon class="icon left" matTooltip="Table View">table_rows</mat-icon>
        <mat-icon class="icon right" matTooltip="Card View">grid_view</mat-icon>
      </span>
    </label>
  </div>
</div>

<div class="employee-data-container">
  <!-- Filters and actions toolbar -->
  <app-table-toolbar
    [filtersConfig]="filtersConfig()"
    (apply)="onApplyFilters($event)"
    (reset)="onResetFilters()"
    (searchChange)="onSearch($event)"
  ></app-table-toolbar>

  <!-- Employee data table or card view -->
  @if (isTableView()) {
    <app-data-table
      [dataSource]="dataSource"
      [visibleColumns]="displayedColumns"
      (tableActionEmitter)="handleTableAction($event)"
      [tableActions]="tableActions"
      [loading]="loading()"
    ></app-data-table>
  } @else {
    <div class="card-list">
      @for (emp of employees(); track emp.id) {
        <app-data-card class="card-list-item" [employee]="emp" (delete)="handleTableAction($event)"></app-data-card>
      }
    </div>
  }

  <!-- Pagination controls -->
<mat-paginator
  [length]="totalEmployees()"
  [pageSize]="pageSize()"
  [pageIndex]="currentPage()"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)">
</mat-paginator>


</div>
