@use '../../../styles/variables' as *;

.card {
  perspective: 1000px;
  height: 100%;
  width: 100%;
  position: relative;
}

.card-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  padding: $space-16;
  background: $bg-card;
  border: $space-1 solid $border-color;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  transition:
    transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    box-shadow 0.4s ease,
    border-color 0.4s ease;

  .employee-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: $space-6;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .arrow-icon,
  .info-icon {
    color: $primary !important;
  }

  .delete-icon {
    color: $text-danger-200 !important;
  }

  h3 {
    margin: 0;
    font-size: $rem-1-1;
    color: $primary;
  }

  p {
    margin: 0;
    font-size: $rem-0-9;
    color: $text-primary;
  }

  button {
    margin-top: auto;
    width: fit-content;
  }

  &.card-disabled {
    background: $bg-disabled !important;
  }
}

.front {
  transform: rotateY(0deg);

  &:hover {
    transform: rotateY(0deg) translateY(-$space-8);
    border-color: $primary;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

    h3 {
      text-decoration: underline;
    }
  }
}

.back {
  transform: rotateY(180deg);

  &:hover {
    transform: rotateY(180deg) translateY(-$space-8);
    border-color: $primary;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
}

.card.flipped {
  .front {
    transform: rotateY(180deg);
    pointer-events: none;
  }

  .back {
    transform: rotateY(360deg);

    &:hover {
      transform: rotateY(360deg) translateY(-$space-8);
      border-color: $primary;
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }
  }
}
