@use '../../../styles/variables' as *;

.card {
  perspective: 1000px;
  height: 100%;
  width: 100%;
  position: relative;
}

.card-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  padding: 16px;
  background: $bg-card;
  border: 1px solid $border-color;
  border-radius: 12px;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease,
    border-color 0.4s ease;
  cursor: pointer;

  .employee-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 6px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .arrow-icon,
  .info-icon {
    color: $primary !important;
  }

  .delete-icon {
    color: $text-danger-200 !important;
  }

  h3 {
    margin: 0;
    font-size: 1.1rem;
    color: $primary;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: $text-primary;
  }

  button {
    margin-top: auto;
    width: fit-content;
  }

  &:hover {
    transform: translateY(-8px);
    border-color: $primary;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

    h3 {
      text-decoration: underline;
    }
  }
}

.front {
  transform: rotateY(0);
}

.back {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(360deg);
}
