@use '../../styles/variables' as *;

.header {
  height: $height-header;
  background: white;
  border-bottom: $space-1 solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $space-24;

  .left {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $rem-1;

    img {
      width: 42px;
      height: 42px;
    }

    nav {
      display: flex;
      flex-direction: row;
      margin-left: $rem-2;
      gap: 10px;
      cursor: pointer !important;
      .nav-item {
        &:hover {
          color: $primary !important;
        }

        &.selected {
          color: $primary !important;
        }
      }
    }
  }
}

.logo {
  font-weight: 700;
  font-size: $font-size-xl;
}

nav {
  margin-left: $space-24;

  a {
    margin-right: $space-12;
    text-decoration: none;
    color: $text-secondary;
    padding: $space-6 $space-12;
    border-radius: $radius;

    &.active {
      background: $primary-light;
      color: $primary;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  gap: $space-10;

  img {
    border-radius: 50%;
  }

  .name {
    font-weight: 500;
  }

  .role {
    font-size: $font-size-xs;
    color: $text-secondary;
  }
}
