@use '../../../styles/variables' as *;

.dialog-container {
  .btn-primary {
    background-color: $primary !important;
  }
  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $space-20;
  }

  .dialog-content {
    min-width: $min-width-dialog;
    max-width: $max-width-dialog;
    padding: $space-20;
    display: flex;
    justify-content: center;
  }
}
