@use '../../../styles/variables' as *;

.table-container {
  position: relative;
  min-height: 377px;
  overflow: auto;
}

.loader-overlay {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

table {
  width: 100%;
  background: transparent;
}

.status-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-weight: 600;
  min-width: 70px;
  border: $space-1 solid transparent;
}

.status-active {
  background-color: rgba($text-success-100, 0.2);
  color: $text-success-500;
  border-color: $text-success-200;

  &::before {
    content: '●';
    margin-right: $space-4;
    font-size: $space-8;
    color: $text-success-300;
  }
}

.status-inactive {
  background-color: rgba($text-danger-100, 0.2);
  color: $text-danger-500;
  border-color: $text-danger-200;

  &::before {
    content: '●';
    margin-right: $space-4;
    font-size: $space-8;
    color: $text-danger-300;
  }
}

.empty-state-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.empty-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}
