<!-- Data table -->
<table mat-table [dataSource]="dataSource()" matSort>
  @for (column of visibleColumns(); track column) {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold">
        {{ column | titleCaseSplit }}
      </th>

      <td mat-cell *matCellDef="let row">
        @switch (column) {
          @case ('actions') {
            @for (action of tableActions(); track action) {
              <button
                disableRipple
                mat-button
                (click)="emitTableAction(action.label, row)"
                [matTooltip]="action.tooltip"
              >
                <mat-icon class="action-icon">{{ action.icon }}</mat-icon>
              </button>
            }
          }
          @case ('status') {
            <mat-chip
              class="app-chip"
              [ngClass]="{
                'chip-success': row.status === 'Active',
                'chip-danger': row.status === 'Inactive',
              }"
            >
              {{ row.status }}
            </mat-chip>
          }
          @case ('employmentType') {
            <mat-chip class="app-chip chip-neutral">
              {{ row.employmentType }}
            </mat-chip>
          }
          @default {
            {{ row[column] }}
          }
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="visibleColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: visibleColumns()"></tr>
</table>

