@use '../../styles/variables' as *;

.employee-details-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .heading > * {
    margin: 0;
  }

  .custom-toggle {
    position: relative;
    width: 68px;
    height: 36px;

    input {
      display: none;
    }

    label {
      position: absolute;
      inset: 0;
      cursor: pointer;
      background: #e5e7eb;
      border-radius: 10px;
      transition: background 0.3s ease;

      display: flex;
      align-items: center;

      /* IMPORTANT: reserve space for knob */
      padding: 0 8px;
    }

    /* ICON CONTAINER */
    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 2;
    }

    .icon {
      font-size: 16px;
      transition: all 0.3s ease;
      opacity: 0.5;
      color: #6b7280;
    }

    .left {
      opacity: 1;
      color: $primary;
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    /* KNOB */
    label::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 28px;
      background: white;
      border-radius: 8px;
      top: 4px;
      left: 4px;
      transition: transform 0.3s ease;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      z-index: 1;
    }

    /* ON STATE */
    input:checked + label::after {
      transform: translateX(34px);
    }

    input:checked + label .left {
      opacity: 0.5;
      color: #6b7280;
    }

    input:checked + label .right {
      opacity: 1;
      color: $primary;
    }
  }
}

.employee-data-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 280px);
}

.card-list {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  align-content: start;

  .card-list-item {
    flex: 1 1 300px;
    max-width: 400px;
    height: 172px;
  }
}
