@use '../../../styles/variables' as *;

.emp-form-group {
  display: flex;
  flex-direction: column;
  gap: $space-20;

  .accordion-container .mat-expansion-panel-header-description {
    justify-content: end;
    align-items: center;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: $space-16;
  margin-top: $rem-1;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-16;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-16;
}

.delete-btn-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: $space-6;

  label {
    font-size: $font-size-sm;
    color: #6b7280;
    font-weight: 500;
  }

  .error {
    font-size: $font-size-sm;
    color: $text-danger-200;
    font-weight: 500;
  }
}

.address-card {
  border: $space-1 solid $border-color;
  border-radius: $radius;
  padding: $space-12;
  display: flex;
  flex-direction: column;
  gap: $space-10;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: $space-16;
}

@media (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }
}

:host {
  ::ng-deep .mat-expansion-panel {
    box-shadow: none !important;
    border: $space-1 solid $border-color;
    border-radius: $radius;
    background: $bg-card;
  }

  ::ng-deep .mat-expansion-panel-header {
    background: $bg-card;
    border-bottom: $space-1 solid $border-color;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: $height-base !important;
    display: flex;
    align-items: center;
    padding: 0 $space-12 !important;
  }

  ::ng-deep{
    .mat-mdc-outlined-button{
          height: var(--mat-button-outlined-container-height, 32px) !important;
    }

    .mat-tonal-button{
      width: $rem-5 !important;
    }

    .mat-tonal-button > .mat-icon {
      margin: 0 !important;
    }
  }
}
