
@use '@angular/material' as mat;

@use '../src/app/styles/variables' as *;
@use '../src/app/styles/base/fonts' as *;
@use '../src/app/styles/base/material-overrides' as *;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Nunito',
      plain-family: 'Nunito',
    ),
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: $bg-main;
  color: $text-primary;
}

html, body {
  height: 100%;
}

.success-snackbar {
  background: #16a34a;
  color: #fff;
}

.error-snackbar {
  background: #dc2626;
  color: #fff;
}
