@use '../../../../app/styles/variables' as *;

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $space-20;
}
.dialog-content {
  min-width: $min-width-form;
  max-width: $max-width-form;
  padding: $space-20;
}
