@use '../../../styles/variables' as *;

.btn {
  font-size: 1rem;
  color: #ffffff;
  background-color: $primary;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $bg-card;
  border: 1px solid $border-color;
  border-radius: $radius;
  margin-bottom: 8px;
  height: 40px;

  .filter-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

/* PANEL LAYOUT */
.filter-panel {
  width: 284px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* EACH FIELD */
.filter-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* LABEL */
.filter-label {
  font-size: 12px;
  font-weight: 600;
  color: $text-secondary;
}

/* ACTION BUTTONS */
.filter-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  align-items: center;

  .btn {
    width: 5rem;
    height: 2rem;
  }
}

.btn-secondary {
  color: $text-secondary;
}
