<div class="toolbar-container">
  <div class="search-wrapper">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <input
        class="search-input"
        type="email"
        matInput
        [value]="searchTerm()"
        (keyup)="onSearch()"
        placeholder="search"
      />
    </mat-form-field>
  </div>

  <div class="filter-buttons">
    <button
      mat-button="filled"
      [matMenuTriggerFor]="filterMenu"
      matTooltip="Apply Filters"
      matTooltipPosition="below"
      class="btn"
    >
      <mat-icon>filter_alt</mat-icon>
    </button>

    <button
      mat-button="filled"
      (click)="resetFilters()"
      matTooltip="Clear Filters"
      matTooltipPosition="below"
      class="btn"
    >
      <mat-icon>filter_alt_off</mat-icon>
    </button>
  </div>
</div>

<mat-menu #filterMenu="matMenu" class="filter-menu">

  <div class="filter-panel" (click)="$event.stopPropagation()">

    @for (filter of filtersConfig(); track filter.key) {
      <div class="filter-item">
        <label class="filter-label">{{ filter.label }}</label>
        @switch (filter.type) {
          @case ('select') {
            <mat-form-field subscriptSizing="dynamic" appearance="outline" class="custom-select-height ">
              <mat-select [(ngModel)]="filters[filter.key]">
                @for (option of filter.options; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
        }
      </div>
    }

    <!-- ACTIONS -->
    <div class="filter-actions">
      <button mat-button class="btn" (click)="resetFilters()">
        Clear
      </button>

      <button mat-raised-button class="btn" (click)="applyFilters()">
        Apply
      </button>
    </div>

  </div>
</mat-menu>
