@use '../../../styles/variables' as *;

.btn {
  font-size: $rem-1;
  color: $text-white;
  background-color: $primary;
  border-radius: $radius;
  border: $space-1 solid $border-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-6;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $rem-1;
  background-color: $bg-card;
  border: $space-1 solid $border-color;
  border-radius: $radius;
  margin-bottom: $space-8;
  height: $height-base;

  .filter-buttons {
    display: flex;
    align-items: center;
    gap: $rem-0-5;
    padding: $rem-0-5 $rem-1;
  }
}

.filter-panel {
  width: 284px;
  padding: $space-16;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  gap: $space-6;
}

.filter-label {
  font-size: $font-size-xs;
  font-weight: 600;
  color: $text-secondary;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  margin-top: $space-8;
  align-items: center;

  .btn {
    width: $rem-5;
    height: $rem-2;
  }
}

.btn-secondary {
  color: $text-secondary;
}
