@font-face {
  font-family: 'Nunito';
  src: url('../../../../public//assets/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../../../public//assets/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../../../public//assets/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

