@use '../variables' as *;

/* Mat Card */
.mat-mdc-card {
  border-radius: $radius !important;
  border: 1px solid $border-color;
  padding: 16px;
  background: $bg-card !important;
}

/* Mat Table */
.mat-mdc-table {
  background: $bg-card !important;
  border-radius: $radius;
  overflow: hidden;
  border: 1px solid $border-color !important;
}

.mat-mdc-table .mat-mdc-button {
  min-width: 36px !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  &:hover {
    background: $primary-light !important;
  }

  .mat-icon {
    margin: 0;
    color: $primary !important;
  }
}

.mat-mdc-header-row {
  background: $primary-light !important;
}

.mat-mdc-paginator-outer-container {
  border: 1px solid $border-color;
  border-radius: $radius;
  margin-top: 10px;
  background-color: $bg-card !important;
}

.mat-mdc-header-cell {
  font-size: 14px;
  color: $text-primary;
  font-weight: 800 !important;
}

/* Table Rows */
.mat-mdc-row {
  font-size: 12px !important;
  &:hover {
    background: $bg-hover;
  }
}

.mat-mdc-cell {
  padding: 16px;
  color: $text-secondary;
  height: 4rem !important;
}

/* To Remove bottom border from table body rows */
.mat-mdc-table {
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    border-bottom: 1px solid $border-color;
  }
  .mat-mdc-row:last-child .mat-mdc-cell {
    border-bottom: none;
  }
}

/* Input Fields */

.search-wrapper {
  .mat-mdc-form-field {
    width: 220px;
  }

  .mat-mdc-text-field-wrapper {
    height: 40px !important;
    display: flex;
    align-items: center;
    padding: 0 12px !important;
  }

  .mat-mdc-input-element {
    font-size: 14px;
    padding: 0 !important;
    height: auto !important;
  }
}

.mat-mdc-menu-panel {
  max-width: 320px !important;
  background: $bg-main !important;
}

.mat-mdc-input-element::placeholder {
  font-size: 14px !important;
}

.custom-select-height {
  --mat-form-field-container-height: 2.5rem;
  --mat-form-field-container-vertical-padding: 0.5rem;

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 50%;
    transform: translateY(-50%);
  }

  .mat-mdc-text-field-wrapper {
    background: $bg-card !important;
    border: 1px solid $border-color !important;
    border-radius: $radius !important;

    display: flex;
    align-items: center;

    padding: 0 12px !important;
    height: 40px !important;
  }

  .mat-mdc-select-placeholder{
    font-size: 14px !important;
  }
}
